.backdrop{
    background-color:#fff ;
    position: fixed;
    width: 100%;
    height: 100%;
}
.modal {
    // background-color: #55555d;
    backdrop-filter: blur(105px);
    border-radius: 12px;
    position: fixed;
    z-index: 999;
    top: 82px;
    min-width: 80%;
    margin: auto;
    -webkit-animation: moveFromDownh3 700ms ease-in-out;
    animation: moveFromDownh3 300ms ease-in-out;
  
}

@keyframes moveFromDownh3 {

    0%{
       opacity: 0;
    }
        
    
    100%{
       opacity: 1;
        
    }
    
}