.titleContainer{   
    
    & span{
color:#FFF ;
    }
    & p{
    text-align: left;
    font-size: 50px;
    color: #979797;
    font-weight: bold;
    position: relative;
   

    &::before{
        content: "";
        width: 74%;
        height: 5px;
        left: -73.5%;
        position: absolute;
        top: 44px;
        background-color: white;
    }
}
}