.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 5rem;

  & li {
    margin: 0 3px;
    & a svg {
      height: 25px;
    }
  }
}

.header-control {
  display: flex;

  & .profileBtn {
    margin-right: 5rem;
    text-decoration: none;
    & svg {
      height: 21px;
    }
  }
}

.buybasket {
  position: relative;

  & span {
    font-size: 11px;
    background-color: #fd583e;
    border-radius: 50%;
    color: #fff;
    padding: 3px 7px;
    top: 0px;
    left: 27px;
    position: absolute;
  }
}

.boucing {
  animation: bumoi 300ms ease-out;
}
@keyframes bumoi {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.45);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.inputCntrol {
  display: flex;
  align-items: center;
  justify-content: center;

  & input{
    background-color: transparent;
    border: none;
    width: 130px;
    font-size: 16px;
    color: rgb(202, 200, 200);
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
    padding: 4px 7px;

    &:focus-visible{
      
      outline: none;
    }
  }
  & button {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 0 5px;
    padding-bottom: 3px;
  }
}


.hide{
  width: 0;
  overflow: hidden;
  transition: 0.5s;
  // & input{
  //   width: 0;
  // }
}
.show{
  width: 100%;
  transition: 0.5s;
//  & input{
//   width: 130px;
// }
}

// @keyframes open {
//   0%{
//     width: 0%;
//   }
//   100%{
//     width: 100%;
//   }
  
// }


.user_name{
  color: #fff;
  text-decoration: none;

}