.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-right: 5rem;

    & li{
        margin: 0 3px;
        & a svg{
                height:25px;
            
        }
    }
}

.header-control{
    display: flex;

    & .profileBtn{
        margin-right:5rem ;
        & svg{
            height: 21px;
        }
    }
}

.buybasket {
    position: relative;

    & span{
           font-size: 11px;
    background-color: #FD583E;
    border-radius: 50%;
    color: #fff;
    padding: 3px 7px;
    top: 0px;
    left: 27px;
    position: absolute;
    }
}


.boucing{
    animation: bumoi 300ms ease-out;
  }
  @keyframes bumoi{
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.8);
    }
    30% {
      transform: scale(1.15);
    }
    50% {
      transform: scale(1.45);
    }
    70% {
        transform: scale(1.20);
      }
    100%{
      transform: scale(1);
    }
  }
  