// .product_container {
//   display: flex;
//   justify-content: space-evenly;
//   flex-wrap: wrap;
//   margin-bottom: 25px;
//   animation: fadeDown 800ms ease-in-out;
// }
.product_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 25px;
  animation: fadeDown 800ms ease-in-out;
  height:auto;
  overflow: hidden;
  margin: 15px 0;
  margin-top: 45px;;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  margin-bottom: 20px;

  &::-webkit-scrollbar {
    display: none;
  } 


}

@keyframes fadeDown {
  0% {
    transform: translateY(100%);
  }
  
  100% {
    transform: translateY(0);
  }
}
