.item_wrapper{
    
    position: relative;
    margin: 15px 0;
    // overflow: hidden;

    &:hover{
    
        .add_btn{
            
            transform: translateY(15px);
            cursor: pointer;

            &:hover{
                transform: scale(1.15) translateY(15px);
            }
        }
        .color_wrapper{
             transform: translateX(300px);  
          
             top: 15%;
            
            
        }
        .favorite{
            transform: translateX(0px);
           
            cursor: pointer;
            
            &:hover {
                animation: beating 4000ms  infinite ease-in-out;
                
                svg path{
                    fill: #FD583E;
                    stroke: #FD583E;
                    transform: scale(2) ,translate(-3673.724 -1155.038);
                 
                }
            }
            
        }
    }


    @keyframes beating {
        0%{
            transform: scale(1);
        }
     20%{
        transform: scale(0.7);
     }
        45%{
            transform: scale(1.1);
        }
        60%{
            transform: scale(0.7);
         }
        100%{
            transform: scale(1);
        }
    }

    & .favorite{
        position: absolute;
        transform: translateX(-182%);
        top: 56%;
        left: 15px;
       transition:all 0.3s ease-in-out;
     background-color: transparent;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        
        & svg path{
            transition: all 0.5s;

        }
       
    }
    & .color_wrapper{
        cursor: pointer;
        transform: translateX(680px);
         top: 15%;       
        position: absolute;
        border-radius: 38px;
        display: flex;
        width: 38px;
        background-color: #414747;
        transition: all 0.3s ease-in-out;
        box-shadow: 3px 6px 5px rgb(17 16 16 / 50%);
        flex-direction: column;
        align-items: center;
        & .colors{
            width: 30px;
            height: 30px;
            background-color: #1aaedb;
            /* padding: 3px 4px; */
            border-radius: 50%;
            margin: 3px 2px;
         }
        }

    & .add_btn{
        position: absolute;
        transform: translateY(-210%);
        left: 15px;
       transition:all 0.3s ease-in-out;
        background-color: #FD583E;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        border: none;
        border-radius: 5px;
        padding: 6px 11px;
    }

    & .image_back{
        background-color: #151919;
        border-radius: 15px;
        height: 275px;
        width: 345px;
        display: flex;
        align-items: center;
        justify-content: center;

        & ._img{
            width: 300px;
            height: auto;
        }
    
    }
    & .lable{
        color: #FD583E;
        font-size: 20px;
        margin:12px 5px 4px 4px;
    }
    & ._name{
        color: #979797;
        margin:8px 5px;
        font-size: 18px;
        width: 75%;
    }

  
    & .price_container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & ._color{
            color: #fff;
            font-size: 18px;

            & span{
                color: #979797;
            }
        }
        & ._price{
            color: #ffffff;
            margin:12px 5px;
            font-size: 20px;
    
            & span{
                color: #979797;
            }
        }
    }
}



.isfavorite{
    position: absolute;
    cursor: pointer;
    transform: translateX(0px);
    top: 56%;
    left: 15px;
    transition:all 0.3s ease-in-out;
    background-color: transparent;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    
    & svg path{
        transition: all 0.5s;
        fill: #FD583E;
        stroke: #FD583E;
        transform: scale(2) ,translate(-3673.724 -1155.038);
    }
}

// .favorite{
//     transform: translateX(0px);
   
//     cursor: pointer;
    
//     &:hover {
//         animation: beating 4000ms  infinite ease-in-out;
        
//         svg path{
//             fill: #FD583E;
//             stroke: #FD583E;
//             transform: scale(2) ,translate(-3673.724 -1155.038);
         
//         }
//     }
    