

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c25;
  /* background:url("http://localhost:3000/static/media/Group 74.c82f3c8f4c8b0871d534.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  z-index: 4545;
  background-color: #1c1c25;
}
main{
  min-height: 80vh;
}
/* 
#login{
  background-color: rgb(27, 27, 25);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 999;
  opacity: 0.5;
  left: 0;
} */